.fondoAux{
    position: absolute;
    bottom: 0 px;
    right: 0px;
    left: 0px;
    height:10vh;
    background: #12001D;
}

.boton{
    background:  var(--k-secondary);
    color: var(--k-light);
    margin-left: 0px;
    width: 100%;
    border-radius: 0px;
    border-color: transparent;
  }
  .boton:hover{
    background:  var(--k-tertiary);

  }

.header {
    color: #12001D;
}

.btn-close{
    color: #12001D;
}

.glass-wrap {
background:  rgba(255, 255, 255,0.7);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
box-shadow: 0 4px 30px rgba(255, 255, 255,0.4);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
}
