.fondoAux{
    height:20vh;
    background: #12001D;
}

.boton{
    margin-top: 5vh;
    background:  var(--k-secondary);
    color: var(--k-light);
    margin-left: 25%;
    width: 50%;
    border-radius: 50px;
    box-shadow: 0px 0px 10px var(--k-secondary);
  }
